<div
  style=" width: 100%;display: flex;justify-content: center; background: linear-gradient(#d6e7ea, #d6e7ea);; height: 110vh; border: 1px solid #d6e7ea">
  <div class="user1-box" style="margin: 8% 0%;">
    <div class="head-section">
      <h2>Employee</h2>
      <a routerLink="/employeeall"><i class="fa fa-times"></i></a>
    </div>
    <form class="form-group" #form="ngForm">




      <div>
        <div class="field">
          <input ngModel #address1="ngModel" required maxlength="100" type="text" name="employeeName"
            [(ngModel)]="employee.employeeName" id="address1" required placeholder=" " [value]="employee.employeeName">
          <label for="address1"><i class="fa fa-map-marker" style="font-size: 10px;margin-right: 7px;"></i>Employee Name
          </label>
        </div>
        <div style="margin-top: -16px;height: 20px;" class="text-danger" *ngIf="address1.invalid && address1.touched">
          <div *ngIf="address1.errors!['required']"><i style="margin-right: 5px;"
              class="fa fa-exclamation-triangle"></i> Employee is required</div>
          <div *ngIf="address1.errors!['maxlength']"><i style="margin-right: 5px;"
              class="fa fa-exclamation-triangle"></i>It Should be less than 100 character</div>
        </div>
      </div>


      <div class="input-selectbox" ngModelGroup="companyEntity" style="margin-top: 25px;">
        <div class="select-container" style="display: flex; justify-content: space-between;">
          <label style="margin-right: 20px; font-size: 1.1rem; margin-top: 0.5%;" for="">Entity :</label>
          <select #selentity class="form-select" ngModel name="entity_id" style="width: 72%" (change)="onEntitySelectionChange(selentity.value)">
            <option selected disabled>Select Entity</option>
            <option *ngFor="let entity of entities" [value]="entity.entity_id">{{ entity.entity_description }}</option>
          </select>
        </div>
      </div>
      
      


      <div class="input-selectbox" ngModelGroup="department" style="margin-top: 25px;">
        <div class="select-container" style="display: flex;justify-content: space-between;">
          <label style="margin-right: 20px;font-size: 1.1rem;margin-top: 0.5%;" for="">Department :</label>
          <select #seldepartment class="form-select" ngModel name="departmentId" style="width: 68.4%;" (click)="onDepartmentSelectionChange(seldepartment.value)">
            <option selected disabled>Select Department</option>
            <option *ngFor="let department of departments" [value]="department.department_id"
              >{{ department.department_description }}
            </option>
          </select>
        </div>
      </div>


      <div class="input-selectbox" ngModelGroup="section" style="margin-top: 25px;">
        <div class="select-container" style="display: flex;justify-content: space-between;">
          <label style="margin-right: 20px;font-size: 1.1rem;margin-top: 0.5%;" for="">Section :</label>
          <select #selSection class="form-select" ngModel name="sectionId" style="width: 72%;" (click)="onSectionSelectionChange(selSection.value)">
            <option selected disabled>Select Section</option>
            <option *ngFor="let sec of sections" [value]="sec.section_id"
              >{{ sec.section_description }}</option>
          </select>
        </div>
      </div>

      <div class="input-selectbox" ngModelGroup="designation" style="margin-top: 25px;">
        <div class="select-container" style="display: flex;justify-content: space-between;">
          <label style="margin-right: 20px;font-size: 1.1rem;margin-top: 0.5%;" for="designationId">Designation
            :</label>
          <select #selDesignation class="form-select" ngModel name="designationId" style="width: 68%;"
          (click)="onDesignationSelectionChange(selDesignation.value)">
            <option selected disabled>Select Designation</option>
            <option *ngFor="let dg of designations" [value]="dg.designationId"
              >{{ dg.designation }}</option>
          </select>
        </div>
      </div>

      <div style="padding-top: 10px;margin-top: 25px; display: flex;">
        <label  style="margin-right: 9px;font-size: 1.1rem;" for="">Host Active Status :</label>
         
        <mat-slide-toggle [(ngModel)]="employee.hostActiveStatus" ngModel name="status"  ></mat-slide-toggle>
      </div>





      <button class="btn btn-warning" (click)="addCompanyProcess(form)" routerLink="/employeeall" [disabled]="!form.valid">Submit
      </button>




    </form>
  </div>
</div>