<div>

<nav style="height: 35px;width: 100%;background-color: rgb(135, 138, 137);">

    <div class="topnav">
        <h5 style="color: whitesmoke;">AJES Enterprise Solutions - Contact: 1234567890 </h5>
    </div>
</nav>

<nav class="navbar navbar-expand navbar-dark bg-primary px-2">
    
    
    <a class="navbar-brand px-4" href="#"><b>Visitor Management System</b></a>

    <div class="navbar-collapse">

        <ul class="navbar-nav me-auto">

            <!-- <li class="nav-item "><a class="nav-link " routerLink="/home"> Home</a></li> -->

            <!-- <li class="nav-item "><a class="nav-link " routerLink=""> About Us</a></li> -->

            <!-- <li class="nav-item "><a class="nav-link " routerLink="/contact"> Contact Us</a></li> -->
        </ul>

    </div>

    

    <!-- <button (click)="openLoginDialog()">
        <i class="fa fa-user" aria-hidden="true"></i> Login
    </button> -->
</nav>

<div >
    <app-login2></app-login2>
</div>
</div>


<!-- <div>
    <app-vms-home></app-vms-home>
</div> -->