<footer class="bg-lightblue text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Quick Links</h4>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <div class="social-icons">
            <a href="#" class="text-white"><i class="fa fa-facebook"></i></a>
            <a href="#" class="text-white"><i class="fa fa-twitter"></i></a>
            <a href="#" class="text-white"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Contact Info</h4>
          <p>Email: info@aajes.com</p>
          <p>Website: <a href="https://aajes.com/">www.aajes.com</a></p>
          <p>Phone: +91 (866) 076-7137</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
            <p class="mb-0">All Rights Reserved &copy; AJES 2023</p>
        </div>
      </div>
    </div>
  </footer>
  