<div class="login">
  
    <div class="form-group">
      <h2>Login Details</h2>
        <div class="userName"> <br>
         <mat-form-field>
            <mat-label>Username</mat-label>
            <input  matInput placeholder="" #username [(ngModel)]="user.user_Username" [value]="email" (keyup)="fetchUserByUserName(username.value)" required>
        </mat-form-field>
        </div>
        <br><br>
      
       <div class="Password">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="" [(ngModel)]="user.user_password" required>
        </mat-form-field>
      </div>
      <!-- <br>
      <p style="color: blue;"  (click)="forgotPassword()">Forgot Password?</p>
      <br><br> -->
      <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary"  (click)="openDialog()">Signup</button> -->
    </div>
</div>