<div class="main" >

  <div class="login">
  
    <div class="form-group">
      <h2>Login Details</h2>
        <div class="userName"> <br>
         <mat-form-field>
            <mat-label>Username</mat-label>
            <input  matInput placeholder="" [(ngModel)]="login.email" required>
        </mat-form-field>
        </div>
        <br><br>
      
       <div class="Password">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="" [(ngModel)]="login.password" required>
        </mat-form-field>
      </div>
      <br>
      
      <button class="btn btn-primary" (click)="onLogin(login.email,login.password)">Submit</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary">Signup</button>
    </div>
  </div>
  
</div>  
  
  