
<div class="container">
    <br><br>
    <button class="btn btn-primary" (click)="getYetToCheckIn()">View Yet To Check In</button>&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="getCheckedIn()">View Check In</button>&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="getCheckedOut()">View Check Out</button>&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="ngOnInit()">View All</button>&nbsp;&nbsp;
    <ag-grid-angular
    class="ag-theme-alpine"
    style="height: 1000px; width:1000px;"
    [rowData]="rowData$ | async"
    [columnDefs]="colDefs"
    [rowSelection]="'multiple'"
    [animateRows]="true"
    ></ag-grid-angular>
    
</div>
