<div class="container-fluid" style="background: linear-gradient(#d6e7ea, #d6e7ea);">
    <img src="../assets/images/WhatsApp Image 2023-04-21 at 11.04.15 AM.jpeg" style="margin-left: 5%; width: 90%; " alt="">
    <div class="container" >
        
    
        <div class="card">
            
            <div class="intro">
                
                <h2>About Visitor Management System</h2>
                <P>Visitor management systems are electronic systems used to manage visitors as they enter and leave a facility.
                   The main purpose of these systems is to ensure visitor safety, improve overall security, and help increase
                   efficiency by streamlining the check-in process.<br><br>
                    Typically, visitor management systems consist of an electronic kiosk or terminal with a touchscreen interface where 
                    visitors can register their information.  This information is then stored in an online database that staff can access 
                    in case of an emergency. Depending on the system, additional features may include badge printing, facial recognition 
                    technology, and integration with other security solutions such as access control systems or biometric scanners.<br> <br>
                    
                    <button *ngIf="!showMore" class="btn btn-link" (click)="toggleShowMore()">Read more</button>
                </P>
                
            </div>  
    
            <div id="content" *ngIf="showMore" >
                <p> Visitor management systems often involve authentication measures like scanning driver’s licenses, invitation codes, 
                    or QR codes. This helps organizations keep track of who enters their premises and allows them to set up customized 
                    rules for different groups of visitors such as employees, contractors, and vendors <br><br>
                    In addition to ensuring security compliance during the onboarding process (for example requiring all visitors to sign a non-disclosure agreement), 
                    visitor management systems also help organizations stay compliant with government regulations by safely collecting 
                    personal data like names and contact information from visitors. <br><br>
                    The benefits of using a visitor management system extend beyond just improved security; it can help make communication 
                    easier between staff members and guests/visitors by sending automated notifications about arrivals and departures or 
                    including custom messages for specific groups. It can also provide detailed reports on who visited the facility on 
                    certain days so administrators can quickly see which areas were accessed and when. Plus many visitor management 
                    solutions come with analytics tools that allow organizations to review usage data over time in order to measure 
                    trends or spot irregularities before they become serious issues. <br><br>
                    In short, visitor management systems allow businesses of all sizes to securely manage the flow of people entering 
                    their premises while gaining valuable insights into usage patterns – all while ensuring compliance with government 
                    regulations pertaining to data collection & storage requirements
                </p>
                
                <button class="btn btn-link" (click)="toggleShowMore()">Read less</button>
            </div>
            
            
        </div>
        <div class="card">
            
            <div class="intro">
                
                <h2>Features of Visitor Management System</h2>
                <P> •	Pre-registration: Allows visitors to register online ahead of time, making the check-in process faster when they arrive. <br><br>
                    •	Badging & Photo ID: Creates a visitor badge with a photo for quick identification and accountability.<br><br>
                    •	Electronic Sign-In/Out: Replaces paper sign-in sheets with digital records, allowing visitors to easily check in and out.<br><br>
                    •	Contactless Check-In: Utilizes facial recognition or RFID technology to quickly scan visitors and confirm their identity.<br><br>
                    
                    <button *ngIf="!showMore1" class="btn btn-link" (click)="toggleShowMore1()">Read more</button>
                </P>
                
            </div>  
     
            <div id="content" *ngIf="showMore1" >
                <p> •	Escort Management: Encourages safe facility access by requiring all visitors to be escorted while inside the building.<br><br>
                    •	Contractor Tracking: Manages contractor visits independently from other visitors, including task list tracking and time logs.<br><br>
                    •	Reports & Analytics: Generates reports that provide insight into visitor data, such as top entry points, most frequent guests, etc.<br><br>
                    •	Customized Branding & Access Control: Allows custom branding on visitor badges and access control options like restricted areas or times of entry restriction.<br>
    
                </p>
                <button class="btn btn-link" (click)="toggleShowMore1()">Read less</button>
            </div>
            
            
        </div>
    
        
        
    </div>
    
    
    <div class="container" >
        <div class="card"> 
            <div class="intro"> 
                <h2>Types of Visitor Management System</h2>
                <P> •   Electronic Visitor Management Systems: These systems allow valid visitors to sign in and out, usually via an electronic kiosk. They can also keep track of various visitor information such as name, ID number, date of visit, and time of entry/exit. <br><br>
                    •	Biometric Identification Systems: This type of system relies on biometric data (fingerprints, retinal scans, etc.) for identification and authentication. It ensures that each visitor is who they say they are and can be used for access control or tracking purposes.<br><br>
                    •	Host-Based Management Systems: Host-based systems require a person (the host) to check in visitors at the entrance. This involves entering their details into a database or log book. The system provides a form of tracing visitors by logging the arrival time and any other relevant information.<br>
                    <button *ngIf="!showMore2" class="btn btn-link" (click)="toggleShowMore2()">Read more</button>
                </P>
                
            </div>  
    
            <div id="content" *ngIf="showMore2" >
                <p>
                    •	Photo ID Tracking Systems: These systems involve visitors having their photo taken on arrival and then being issued with an identification card which records their details along with the current date/time of entry. The card can then be used to verify identity during subsequent visits or when trying to gain access to restricted areas within the premises.<br><br>
                    •	Barcode Scanning Systems: Here, visitors are assigned unique barcodes which are scanned at the point of entry so that their presence is recorded automatically in a database or log book. This type of system makes it easy to track who is entering and leaving the premises quickly and efficiently.<br><br>
                    •	Access Control System Integration: Some visitor management systems integrate with access control systems like door locks, CCTV cameras, turnstiles etc., allowing for even more secure monitoring of who’s coming in and out by linking individuals to specific access points.            
                </p>
                <button class="btn btn-link" (click)="toggleShowMore2()">Read less</button>
            </div>
        </div>
    
        <div class="card"> 
            <div class="intro"> 
                <h2>Advantages of Visitor Management System</h2>
                <P> 1.	Improved Security: Visitor management systems provide a secure way to manage site access. They help reduce the risk of unauthorized people entering the premises and keep out trespassers or unwanted visitors. Additionally, many visitor management systems include features such as advanced authentication methods, real-time alerts for security breaches, and perimeter protection for added security. <br><br>
                    2.	Enhanced Visibility: Visitor management systems allow organizations to quickly identify who is on their premises at any given time. This increases visibility into who has access to the building and provides valuable insights into activity within the facility, allowing organizations to better understand how their space is being used.<br><br>
                    <br>    <button *ngIf="!showMore3" class="btn btn-link" (click)="toggleShowMore3()">Read more</button>
                </P>
                
            </div>  
    
            <div id="content" *ngIf="showMore3" >
                <p> 3.	Automated Check-In/Out Processes: The automated check-in/out process available with visitor management systems helps streamline administrative tasks associated with visitors coming onto the premises and leaving again. This includes automatically logging who has entered and left the building, as well as other key details such as contact information, purpose of visit, etc., eliminating manual processes that could lead to errors or delays in logging information accurately.<br><br>
                    4.	Improved Customer Experience: Automated check-ins through a visitor management system can drastically improve customer experiences by speeding up entry times and removing unnecessary paperwork required when visiting a building (e.g., signing in/out forms). In addition, this technology can be used to provide guests with more personalized experiences by providing customized greetings based on previous visits or services requested.<br><br>
                    5.	Access Control Capabilities: Many visitor management systems come equipped with access control capabilities which allow organizations to integrate existing door locks within their facility for further control over who enters specific areas of their buildings (e.g., restricted areas). This helps increase safety by preventing unauthorized individuals from accessing certain sections of your facility while also providing an additional layer of security against potential threats or intruders trying to gain access without authorization.
                </p>
                <button class="btn btn-link" (click)="toggleShowMore3()">Read less</button>
            </div>
        </div>
    </div>
</div>

