/* styles.css or your custom CSS file */
.main-container {
  /* background-color: #f5f5f5; */
  padding: 20px;
  margin: 0 auto;
  width: 100%;


}

h3 {
  font-size: 24px;
  color: #333;
  margin: 0;
  padding: 10px 0;
}

.btn:hover {
  background: orange;
  color: #fff;
  border-radius: 20px;
  box-shadow:  0 0 5px orange;
}
.btn{
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  width: 130px;
  font-size: 1.0rem;
  border-radius: 20px;
  background: rgb(249, 182, 58);
}
/* styles.css or your custom CSS file */
.ag-theme-alpine .ag-cell {
  text-align: left;
}


