<div id="print-section" #contentToConvert> 
	<!--Your html stuff that you want to print-->
	<!-- Include jsPDF library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

	<div class="card-container">
		<span class="pro">AJES</span>
		<h2>Visitor's Pass</h2>
		<img class="round" [src]="imageSrc" alt="user" />
		<img class="square" [src]="imageData" alt="user" />
		<h3>{{ name }} </h3>
		<h6>City: Hubli</h6>
		<p>Address: {{ address | json }}</p>
		<p>Host: {{ hostName }}</p>
		<p>Company: {{ companyName }}</p>
		<!-- <h6>Address : </h6>
		<p> {{address}} </p> -->
		<div class="buttons">
			<h6>Visit Date</h6>
			<button class="primary">
				From: {{ fromdate | json }}
			</button>
			<button class="primary ghost">
				To: {{ todate | json }}
			</button>
		</div>
		<!-- <div class="skills">
			<h6>Date and Time</h6>
			<ul>
				<li>CHECK-IN :</li>
				<li>11:14 a.m. on 12-09-2023</li>
				<br>
				<li>CHECK-OUT :</li>
				<li>04:23 p.m. on 12-09-2023</li>
				
			</ul>
		</div> -->
		<br>
			<div>
				<table class="table table-hover" style="border-radius: 1%;" >
					<div >

						<thead>
							<tr>
							  <th>Date</th>
							  <th>Entity</th>
							</tr>
						  </thead>
						  <tbody *ngFor="let s of list">
							<tr>
							  <td>{{ fromdate | json }} </td>
							  <td>{{ s.section.section_description | json}} </td>
							</tr>
						  </tbody>
					</div>
					
				  </table>
			</div>
	
			
	</div>

	<!-- <input type="button" value="CPTURE" (click)="generatePDF()"/>  -->

	
</div>

<!-- <button (click)="downloadPDF()">Download PDF</button>
<button 
  styleSheetFile="assets/css/custom1.css"
  printSectionId="print-section"
  ngxPrint  
   
  >print</button> -->


  <!-- <button (click)="downloadFile()"
  
   
  >print</button> -->


<!-- <footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this
		<a target="_blank" href="https://florin-pop.com/blog/2019/04/profile-card-design">here</a>
		- Design made by
		<a target="_blank" href="https://dribbble.com/shots/6276930-Profile-Card-UI-Design">Ildiesign</a>
	</p>
</footer> -->